* { 
    margin: auto;
}

.header {
    display: flex;
    margin-left: auto;
    padding-left: 15%;
}


.nonlink {
    background-color: #1F2937;
    font-size: 24PX;
    color: #f9faf8;
    margin-bottom: 0;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1F2937;
    justify-content: flex-end;
    margin-right: 15%;
    column-gap: normal;
}

.container-1 {
    background-color: #1F2937;
    margin-right: auto;
    display: flex;
}

.main-pic {
    width: 25%;
    height: auto;

}


/*   img {   removed this and added classes to both sections of pictures 
    width: 200px;
    height: 200px;
    text-align: right;
} */

.container-2 {
    font-weight: extra-bold;
    font-size: 48px;
    background-color: #1F2937;
    color: #f9faf8;
    column-gap: 2ex;
    
}


.center-title {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.container-3 {
    display: flex;
    columns: auto;
    margin: auto;
    align-items: center;
}

.cubes .small-four {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.container-4  {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    margin: auto;
}

.third-p {
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding-top: 5%;
    padding-bottom: 70px;
    padding-left: 25%;
    padding-right: 25%;
}


/* Element | http://127.0.0.1:5500/index.html */

div.cubes:nth-child(1) {
    margin-right: 0px;
    padding-right: 5%;
  }
  
  /* Element | http://127.0.0.1:5500/index.html */
  
  div.cubes:nth-child(2) {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 5%;
  }
  
  /* Element | http://127.0.0.1:5500/index.html */
  
  div.cubes:nth-child(3) {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 5%;
  }
  
  /* Element | http://127.0.0.1:5500/index.html */
  
  div.cubes:nth-child(4) {
    margin-left: 0px;
  }
  
  /* Element | http://127.0.0.1:5500/index.html */
  
  .container-3 {
    height: 400px;
  }
  
  /* Element | http://127.0.0.1:5500/index.html */
  
  .center-title {
    height: 50px;
  }
  

/* Element | http://127.0.0.1:5500/index.html */

.container-2 {
    padding-right: 0px;
    width: 700px;
  }
  
  /* Element | http://127.0.0.1:5500/index.html */
  
  .main-pic {
    width: 700px;
    height: 348px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 2%;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  
  /* Element | http://127.0.0.1:5500/index.html */
  
  .container-1 {
    height: 448px;
  }
  